@model SAUU.Data.Entities.Persona

@{
    ViewData["Title"] = "Editar";
}

<div class="page-header">
    <h1>
        <i class="fa fa-book page-header-icon"></i>
        <a asp-action="Index">Personas</a> > @ViewData["Title"]
    </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idPersona" />
            <div class="form-group">
                <label asp-for="nombrePersona" class="control-label"></label>
                <input asp-for="nombrePersona" class="form-control" />
                <span asp-validation-for="nombrePersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidoPersona" class="control-label"></label>
                <input asp-for="apellidoPersona" class="form-control" />
                <span asp-validation-for="apellidoPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipoPersona" class="control-label"></label>
                <select asp-for="idTipoPersona" asp-items="@(new SelectList(ViewBag.TipoPersona, "idTipoPersona", "nombreTipoPersona"))"
                        class="form-control" required></select>
                <span asp-validation-for="idTipoPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccionPersona" class="control-label"></label>
                <input asp-for="direccionPersona" class="form-control" />
                <span asp-validation-for="direccionPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cedulaPersona" class="control-label"></label>
                <input asp-for="cedulaPersona" class="form-control" required />
                <span asp-validation-for="cedulaPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaNacimiento" class="control-label"></label>
                <input asp-for="fechaNacimiento" class="form-control" required />
                <span asp-validation-for="fechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>
</div>

