@model  ErrorViewModel
@{ 
    Layout = "_LayoutError";
}
<div class="error-code">404</div>

<div class="error-text">
    <span class="oops">OOPS!</span><br>
    <span class="hr"></span>
    <br>
    ¡Vaya! algo salió mal.
    <br>
    Intenta nuevamete, y si el problema persiste contacta al administrador del sistema.
    <br>
    <br>
    <br>
    <a href="#" class="btn btn-info btn-lg" onclick="history.go(-1)">Atras</a>
</div> 