@model SAUU.Data.Entities.Facultad

@{
    ViewData["Title"] = "Borrar";
}

<div class="page-header">
    <h1>
        <i class="fa fa-book page-header-icon"></i>
        <a asp-action="Index">Facultades</a> > @ViewData["Title"]
    </h1>
</div>

<h3>Esta seguro que desea borrar esta Facultad?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nombreFacultad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombreFacultad)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="idFacultad" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
