@model SAUU.Data.Entities.TipoPersona

@{
    ViewData["Title"] = "Editar";
}

<div class="page-header">
    <h1>
        <i class="fa fa-book page-header-icon"></i>
        <a asp-action="Index">Tipos de Persona</a> > @ViewData["Title"]
    </h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idTipoPersona" />
            <div class="form-group">
                <label asp-for="nombreTipoPersona" class="control-label"></label>
                <input asp-for="nombreTipoPersona" class="form-control" />
                <span asp-validation-for="nombreTipoPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn bg-danger"> Cancelar</a>
            </div>
        </form>
    </div>
</div>

